<launch>
	<!-- 设置机器人模型路径参数 -->
	<param name="robot_description" textfile="$(find tactile_driver)/urdf/eskin.urdf" />

	<!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
	<!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->
	
	<!-- 运行robot_state_publisher节点，发布tf  -->
	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

    <node pkg="tactile_driver" type="serial_read" name="serial_read_node" output="screen" />


	<node pkg="tactile_driver" type="datavisual" name="datavisualarrows16" output="screen" />

	
	<!-- 运行rviz可视化界面 -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find tactile_driver)/config/eskin.rviz" required="true" />
</launch>
